<mat-toolbar style="padding: 0;">
  <button mat-icon-button aria-label="Back button" [routerLink]="['/cases']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{itemDetails?.CaseNumber}}</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="container">
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Description</span>
      <span matListItemLine>{{itemDetails?.Description}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span matListItemTitle>Type</span>
      <span matListItemLine>{{itemDetails?.Type}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span matListItemTitle>CreatedDate</span>
      <span matListItemLine>{{itemDetails?.CreatedDate | date}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span matListItemTitle>LastModifiedDate</span>
      <span matListItemLine>{{itemDetails?.LastModifiedDate | date}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span matListItemTitle>Status</span>
      <span matListItemLine>{{itemDetails?.Status}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span matListItemTitle>Reason</span>
      <span matListItemLine>{{itemDetails?.Reason}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span matListItemTitle>Origin</span>
      <span matListItemLine>{{itemDetails?.Origin}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span matListItemTitle>Subject</span>
      <span matListItemLine>{{itemDetails?.Subject}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

</div>
